Django==6.0.1
agno==2.4.7
beautifulsoup4==4.14.3
bleach==6.3.0
cryptography==46.0.4
dj-database-url>=2.3,<4
django-auditlog==3.4.1
django-axes==8.3.1
django-picklefield==3.4.0
django-q2==1.9.0
docling==2.71.0
gunicorn>=23.0,<24
google-api-python-client==2.189.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
lance-namespace==0.4.5
lance-namespace-urllib3-client==0.4.5
lancedb==0.27.1
langchain-core==1.2.8
langchain==1.2.8
langchain-openai==1.1.7
langfuse==4.14.0
Markdown==3.10.1
martor==1.7.16
mpire==2.10.2
openai==2.16.0
openinference-instrumentation-agno==0.1.27
openpyxl==3.1.5
pillow==11.3.0
psycopg2-binary>=2.9,<3
pydantic==2.12.5
pydantic-settings==2.12.0
python-docx==1.2.0
python-dotenv==1.2.1
python-pptx==1.0.2
requests==2.32.5
reportlab==4.4.10
semchunk==2.2.2
SQLAlchemy==2.0.46
tzlocal==5.3.1
whitenoise[brotli]>=6.9,<7
wrapt==1.17.3
